{% extends 'layoutLibrary.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

    <h1 class="">Gérer mes ouvrages</h1>
    <div class="container-fluid">
        <div class="text-center badgeParent">
        <span class="badge badge-pill badge-light badgeUnit">
            <a class="aIndex" href="{{ path('book_index') }}">
                Mes livres possédés
            </a>
        </span>
        </div>

        <div class="text-center">
        <span class="badge badge-pill badge-light badgeUnit">
            <a class="aIndex" href="{{ path('book_unread') }}">
                Ma pile à lire
            </a>
        </span>
        </div>

        <div class="text-center">
        <span class="badge badge-pill badge-light badgeUnit">
            <a class="aIndex" href="{{ path('book_read') }}">
                Mes livres lus
            </a>
        </span>
        </div>

    </div>

{% endblock %}
