{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

    <h1 class="h1Reverse">Mon gestionnaire de bibliothèque</h1>

    <div class="text-center libraries">
        <span class="badge badge-pill badge-light badgeUnit">
            <a href="{{ path('book') }}">
                Mes livres possédés
            </a>
        </span>
    </div>

    <div class="text-center libraries">
        <span class="badge badge-pill badge-light badgeUnit">
            <a href="#">
                Mes livres lus
            </a>
        </span>
    </div>

    <div class="text-center libraries">
        <span class="badge badge-pill badge-light badgeUnit">
            <a href="#">
                Ma pile à lire
            </a>
        </span>
    </div>

    <div class="text-center libraries">
        <span class="badge badge-pill badge-light badgeUnit">
            <a href="#">
                Mes achats prévus
            </a>
        </span>
    </div>

{% endblock %}
