@import url('https://fonts.googleapis.com/css?family=Marko+One|Lato&display=swap');

$titleFont: 'Marko One';
$textFont: 'Lato';
$lightColor: #e0d2c3;
$darkColor: #6d4112;
$lightColorSecondary: white;
$lightColorTertiary: #e2e2e2;