@import url('https://fonts.googleapis.com/css?family=ABeeZee|Gentium+Book+Basic|Lato&display=swap');

$titleFont: 'Gentium Book Basic';
$textFont: 'Lato';
$lightColor: #fff5e6;
$darkColor: #293d3d;
$lightColorSecondary: #f0f5f5;