@import url('https://fonts.googleapis.com/css?family=Sirin+Stencil|Lato&display=swap');

$titleFont: 'Sirin Stencil';
$textFont: 'Lato';
$lightColor: #d5d52a;
$darkColor: #7a4805;
$lightColorSecondary: #e6e67f;
$lightColorTertiary: white;