h1, h2, h3 {
  font-family: $titleFont, serif;
}

body {
  background-color: $lightColorTertiary;
}


h1 {
  padding-bottom: 10vw;
  padding-top: 10vw;
  text-align: center;
  font-size: 8vw;
  color: $darkColor;
  margin-bottom: 10vw;
  background-color: $lightColor;
}

.h1Reverse {
  background-color: $darkColor;
  color: $lightColor;
}

p, .textClass, label, legend {
  font-family: $textFont, sans-serif;
}

.navbar-brand {
  font-family: $titleFont, serif;
}

.navbar {
  background-color: $darkColor;
}

.cardBook {
  margin-bottom: 2vw;
  border: solid $darkColor 1vw;
  background-color: $lightColorSecondary;
}

.badges {
  font-size: 1.5rem;
  margin-bottom: 3vw;
  margin-top: 3vw;
}

.badgeUnit {
  background-color: $darkColor;
  color: $lightColor;
  height: 10vw;
  font-size: 1rem;
  margin-top: 7vw;
  margin-bottom: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aIndex, .aIndex:hover {
  text-decoration: none;
  color: $lightColorSecondary;
  font-family: $textFont, sans-serif;
}

.aBook, .aBook:hover {
  text-decoration: none;
  color: $darkColor;
  font-family: $textFont, sans-serif;
}

.alert:empty {
  display: none;
}

label, legend {
  color: $darkColor;
}

#book_isbn_isRead > .form-check, #book_isRead > .form-check {
  display: inline-block;
  margin-right: 5vw;
}

.btn, .btn:hover {
  background-color: $darkColor;
  color: $lightColorSecondary;
}

.formBook {
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.textColor {
  color: $darkColor;
  font-weight: bold;
}

li {
  list-style: none;
}

#author-fields-list {
  width: 200px;
}

.coverClass {
  max-width: 100%;
  max-height: 100%;
}