{% if books is defined %}
    {% for book in books %}
        <div class="card border cardBook">
            <div class="card-body textClass">
                <div class="row">
                    <div class="col-2">
                        pic
                    </div>
                    <div class="col-10">
                        {{ book.title }}
                        <br>
                        {% for author in book.authors %}
                            {{ author.author }} {{ not loop.last ? ', ' }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
