{% extends 'layoutLibrary.html.twig' %}

{% block title %}Mes livres{% endblock %}

{% block body %}
    <h1>Mes livres</h1>
    <div class="container-fluid">
        <div class="text-center">
        <span class="badge badge-pill badge-light badgeUnit">
            <a class="aIndex" href="{{ path('book_newISBN') }}">
                Ajouter un livre par son ISBN
            </a>
        </span>
        </div>

        <div class="text-center">
        <span class="badge badge-pill badge-light badgeUnit">
            <a class="aIndex" href="{{ path('book_new') }}">
                Ajouter un livre manuellement
            </a>
        </span>
        </div>

        {{ include('book/_bookList.html.twig') }}
    </div>
{% endblock %}
