{% extends 'base.html.twig' %}

{% block title %}Mes livres{% endblock %}

{% block body %}
    <ul>
        {% for book in books %}
            <li>{{ book.title }}</li>
        {% endfor %}
    </ul>

{% endblock %}
