{% extends 'layoutLibrary.html.twig' %}

{% block title %}Mes livres{% endblock %}

{% block body %}
    <h1 class="h1">Mes livres</h1>

    <div class="text-center badges">
        <span class="badge badge-pill badge-light badgeUnit">
            <a href="{{ path('book') }}">
                Par Titres
            </a>
        </span>
        <span class="badge badge-pill badge-light badgeUnit">
            <a href="{{ path('bookByAuthor') }}">
                Par Auteurs
            </a>
        </span>
    </div>

    {% if books is defined %}
        {% for book in books %}
            <div class="card border cardBook">
                <div class="card-body textClass">
                    <div class="row">
                        <div class="col-2">
                            pic
                        </div>
                        <div class="col-10">
                            {{ book.title }}
                            <br>
                            {% for author in book.authors %}
                                {{ author.firstname ~ ' ' ~ author.lastname }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
