{% extends 'layoutLibrary.html.twig' %}

{% block title %}Ajout de livre{% endblock %}

{% block body %}
    <h1>Ajouter un livre</h1>
<div class="container">
    {{ include('book/_formISBN.html.twig') }}

</div>
{% endblock %}
