{% extends 'layoutLibrary.html.twig' %}

{% block title %}{{ currentLibrary.name }}{% endblock %}

{% block body %}
    <div class="text-center libraries">
        <span class="badge badge-pill badge-light badgeUnit">
            <a href="#">
                Mes livres possédés
            </a>
        </span>
    </div>

    <div class="text-center libraries">
        <span class="badge badge-pill badge-light badgeUnit">
            <a href="#">
                Mes achats à prévoir
            </a>
        </span>
    </div>

    <div class="text-center libraries">
        <span class="badge badge-pill badge-light badgeUnit">
            <a href="#">
                Ma Pile à lire
            </a>
        </span>
    </div>


{% endblock %}
